<ion-header>
  <ion-navbar>
    <ion-title>{{titles.title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="background-color:#f9e7cf;">
  
    <!-- <div *ngFor="let sugg of suggview; let i= index" class="top-row">
    <div class="row-main">
      <p class="top-name">{{suggview[i].sugession}}</p>
      <ion-row class="arrow-row"> 
        <ion-icon class="down-icons" md="ios-arrow-down" (click)="infocl(suggview[i].id, i)"></ion-icon>
      </ion-row>
    </div>
    <div [class] = "cssData[i].class">
        <div class="drop-background">
        <p class="sugg">{{titles.reply}}</p>
        <p *ngFor="let sug of suggestonrply" class="sugg-margin">{{sug.message}}</p> 
      </div>
    </div>
    </div>
   <p style="margin:1em 3em;font-size:20px;font-weight:500;color:#000;">{{titless.message2}}</p> -->

<!-- 
   <div *ngFor="let imgeee of splitimages">
      <div *ngFor="let imgee of imgeee.img">
       <img *ngIf="imgee" src="http://kailash.mediaoncloud.com/MLAfiles/{{imgee}}" class="gal-img" />
      </div>
    </div> -->

   <ion-row *ngFor="let sugg of suggview; let i= index" class="rnumber {{cssDataColor[i].class}}">
      <p>{{suggview[i].sugession}}</p>
      <ion-row><a (click)="view_Reply(i, suggview[i].id)" href="#">{{titles.viewreply}}</a></ion-row>
      <ion-card [class] = "cssData[i].class">
          <ion-card-content>
            <ion-row *ngFor="let rep of suggestonrply">
              <p  *ngIf="rep.message" class="reponse-us">{{rep.message}}</p>   
            </ion-row>
          </ion-card-content>
        </ion-card>
    </ion-row>



</ion-content>
