<ion-header>
  <ion-navbar>
    <ion-title>{{titles.sugg}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding style="background-image: url(img/back.png); background-size: cover;">
  
  <ion-grid class="first-one">  
    <ion-row >

<ion-col col-7 class="col-one">
<p>{{titles.title}}</p>
 <p class="p2">{{titles.Designation}}</p>
  </ion-col>

<ion-col col-5 class="col-second">
<img src="img/photo.jpg"/>
</ion-col>

 </ion-row>
 </ion-grid>
 <ion-row class="first-row">
    <ion-input type="text" placeholder="{{titles.name}}" [(ngModel)]="profile" name="profile"></ion-input>
  </ion-row>
  <ion-row class="first-row">
    <ion-input type="text" placeholder="{{titles.address}}" [(ngModel)]="addresss" name="addresss"></ion-input>
</ion-row>
   <ion-row class="second-row">
      <select  id ="areacat" class="drop-down" placeholder="Select Area"  type="text" name="areasel" onmousedown="this.value='';" [(ngModel)]="areasel" (change)="areacategory(areasel)" >  
          <option value="" disabled selected>{{titles.area}}</option>
        <option *ngFor="let val of areatype" [ngValue]="val" style="color:#000;"> {{val}}</option>
      </select>
  </ion-row>
  <ion-row *ngIf="value == 'ward'  || (areasel=='Tarn Taran City')" class="second-row"  >
      <select  class="drop-down" placeholder="Select Ward"  type="text" name="wardsel" onmousedown="this.value='';" [(ngModel)]="wardsel" (change)="wardcategory(wardsel)" >  
        <option value="" disabled selected>{{titles.ward}}</option>
        <option *ngFor="let val of wardCategory; let i= index" [ngValue]="wardCategory[i].ward_num" style="color:#000;" > {{wardCategory[i].ward_num}}</option>
      </select>  
    </ion-row>
    
    <ion-row *ngIf="value=='village' || (areasel=='Tarn Taran Village')" class="second-row" >
        <select class="drop-down" placeholder="Select Village"  type="text" name="villsel" onmousedown="this.value='';" [(ngModel)]="villsel" (change)="villagecat(villsel)" >  
            <option value="" disabled selected>{{titles.village}}</option>
          <option *ngFor="let val of villagetype; let i= index" [ngValue]="villagetype[i].village" style="color:#000;" > {{villagetype[i].village}}</option>
        </select> 
    </ion-row> 
  <ion-row class="third-row">
    <textarea [(ngModel)]="data.suggestion" name="data.suggestion" placeholder="{{titles.sugg}}" rows="6" cols="50"></textarea>
  </ion-row>
  <ion-row class="first-row">
    <ion-input type="tel" maxlength="10" [(ngModel)]="p_no" name="p_no" placeholder="{{titles.mob}}"></ion-input>
  </ion-row>
  <button ion-button round outline block type="submit" class="button-submit" (click)="submit(profile,addresss,areasel,wardsel,villsel,data.suggestion,p_no)">{{titles.sub}}</button>
</ion-content>
